@page
@inject IHttpContextAccessor HttpContextAccessor
@{
    string serialisedUser = HttpContextAccessor.HttpContext.Request.Cookies["user"];

    if (serialisedUser == null) HttpContextAccessor.HttpContext.Response.Redirect("index");
}

<script src="js/account/script.js"></script>

<div class="button glass" style="color: white; background-color: red" onclick="logout()">Log out</div>


