@page
@{
}


<script src="js/login/script.js"></script>

<body id="landing">
    <div style="justify-content: center; height: 100vh;">
    <div id="header">
        <div id="logo">Shortlist</div>
    </div>

    <div id="form" class="glass">
        <input type="text" placeholder="Enter your username..." class="glass" id="username">
        <input type="password" placeholder="Enter your password..." class="glass" id="password">
        <div id="loginBut" class="glass button primaryButton" onclick="login()">Log in</div>
    </div>
    </div>
</body>
