@page
@{
}


<script src="js/signup/script.js"></script>

<body id="landing">
    <div id="header">
        <div id="logo">Shortlist</div>
    </div>

    <div id="form" class="glass">
        <input type="text" placeholder="Enter your name..." class="glass" id="name">
        <input type="text" placeholder="Enter your username..." class="glass" id="username">
        <input type="password" placeholder="Enter your password..." class="glass" id="password">
        <div id="signupBut" class="glass button primaryButton" id="signupButton" onclick="signup()">Sign up</div>
    </div>
</body>

